.browserlogo-android,
.browserlogo-android_64x64 {
	background-image: url('png/android_64x64.png');
}

.browserlogo-chrome,
.browserlogo-chrome_64x64 {
	background-image: url('png/chrome_64x64.png');
}

.browserlogo-edge-tile,
.browserlogo-edge-tile_64x64 {
	background-image: url('png/edge-tile_64x64.png');
}

.browserlogo-edge,
.browserlogo-edge_64x64 {
	background-image: url('png/edge_64x64.png');
}

.browserlogo-firefox,
.browserlogo-firefox_64x64 {
	background-image: url('png/firefox_64x64.png');
}

.browserlogo-internet-explorer-tile,
.browserlogo-internet-explorer-tile_64x64 {
	background-image: url('png/internet-explorer-tile_64x64.png');
}

.browserlogo-internet-explorer,
.browserlogo-internet-explorer_64x64 {
	background-image: url('png/internet-explorer_64x64.png');
}

.browserlogo-opera-mini,
.browserlogo-opera-mini_64x64 {
	background-image: url('png/opera-mini_64x64.png');
}

.browserlogo-opera,
.browserlogo-opera_64x64 {
	background-image: url('png/opera_64x64.png');
}

.browserlogo-safari-ios,
.browserlogo-safari-ios_64x64 {
	background-image: url('png/safari-ios_64x64.png');
}

.browserlogo-safari,
.browserlogo-safari_64x64 {
	background-image: url('png/safari_64x64.png');
}

