.browserlogo-android,
.browserlogo-android_64x64 {
	background-image: url('png/android_64x64.png');
}


.browserlogo-chrome {
	background-image: url('png/chrome.png');
}


.browserlogo-chrome_64x64 {
	background-image: url('png/chrome_64x64.png');
}


.browserlogo-edge-tile {
	background-image: url('png/edge-tile.png');
}


.browserlogo-edge-tile_64x64 {
	background-image: url('png/edge-tile_64x64.png');
}


.browserlogo-edge {
	background-image: url('png/edge.png');
}


.browserlogo-edge_64x64 {
	background-image: url('png/edge_64x64.png');
}


.browserlogo-firefox {
	background-image: url('png/firefox.png');
}


.browserlogo-firefox_64x64 {
	background-image: url('png/firefox_64x64.png');
}


.browserlogo-internet-explorer-tile {
	background-image: url('png/internet-explorer-tile.png');
}


.browserlogo-internet-explorer-tile_64x64 {
	background-image: url('png/internet-explorer-tile_64x64.png');
}

.browserlogo-internet-explorer,
.browserlogo-internet-explorer_64x64 {
	background-image: url('png/internet-explorer_64x64.png');
}

.browserlogo-opera-mini,
.browserlogo-opera-mini_64x64 {
	background-image: url('png/opera-mini_64x64.png');
}

.browserlogo-opera,
.browserlogo-opera_64x64 {
	background-image: url('png/opera_64x64.png');
}


.browserlogo-safari-ios {
	background-image: url('png/safari-ios.png');
}


.browserlogo-safari-ios_64x64 {
	background-image: url('png/safari-ios_64x64.png');
}

.browserlogo-safari,
.browserlogo-safari_64x64 {
	background-image: url('png/safari_64x64.png');
}

